---
layout: page
---


<!-- Typed.js -->
<script src="/js/jquery-1.11.2.min.js"></script>
<!-- Typed.js uses old jquery ver -->
<script src="/js/typed.js" type="text/javascript"></script>
<script>
  $(function() {
    $('.typed').typed({
      strings: [
        'Research.',
        'Programming.',
        'Higher Study.',
        'Learning.',
        'Travel.'
      ],
      typeSpeed: 100,
      loop: true,
      backDelay: 1000
    });
  });
</script>

<div class="mobile-js-hide">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <h1>
          I write about <span class="typed" style="color:#890000" ;></span>
        </h1>
      
      </div>
    </div>
  </div>
</div>


<div class="container">
<h3>Archive</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    {% for post in site.posts %}
      <div class="row">
         <div class="col-sm-4 col-md-4 col-lg-4">
           <h5 style="text-align: right">
            {{ post.date | date: "%B %e, %Y" }}
           </h5>
         </div>
         <div class="col-sm-8 col-md-8 col-lg-8">
           <h5 style="text-align: left">
            <strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
           </h5>
         </div>
      </div>
      {% endfor %}
  </div>
  </div>
</div>